<!DOCTYPE html>
<html lang="en" style="background: skyblue;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Harshit Kamriya</h1>
    <img src="/static/myphoto.png" height="100px" alt="profile photo of Harshit">
    <h3>Summary :</h3>
    <p>I am a harworking and dedicated individual with experience in DSA , ML and Web Development</p>
    <hr>
    <h3>Education :
    </h3>
    <ul>
        <li>Bechelor of Technology,Information Technology - NIT Srinagar(2024-2028)</li>
    </ul>
    <hr>
    <h3>Work experience
    </h3>
    <ul>
        <h4>
            <li>Data Scientist</li>
        </h4>
        <p>
            Agust 2024 - July 2025
            <ul>
                <li>work on real world data</li>
                <li>data cleaning,data preprocessing</li>
                <li>model training , fine tuning</li>
            </ul>
        </p>
        <h4>
            <li>Web Development</li>
        </h4>
        <p>
            July 2025 - present
            <ul>
                <li>Working with html</li>
                <li>Exploring css</li>
                <li>Exploring flask</li>
            </ul>
        </p>
    </ul>
    <hr>
    <h3>Skills</h3>
    <ul>
        <li>DSA in Java</li>
        <li>ML engineer</li>
        <li>Typing speed 80+ wpm</li>
    </ul>
    <hr>
    <h3>Awards and Certifications</h3>
    <ul>
        <li>Python certificate on GFG</li>
        <li>Prompt Engineering certificate by IBM</li>
        <li>DSA Certificate on GFG</li>
    </ul>
    <hr>
    <h3>Achivements</h3>
    <ul>
        <li>400 plus problem solved on leetcode</li>
        <li>Typing Speed 80+ wpm</li>
        <li>200 plus problem solved on GFG</li>
        <li>Jee Advanced Qualified</li>
    </ul>
    <hr>
    <h3>Other</h3>
    <ul>
        <li>
            <a href="">My Hobbies</a>
        </li>
        <li>
            <a href="">Contack Me</a>
        </li>
        
    </ul>
    <footer>
        <small>© Harshit Kamriya. All rights reserved.</small>
    </footer>

</body>
</html>